# docker-compose.yml
services:
  rabbit:
    image: rabbitmq:3.13-management
    container_name: rabbit
    ports:
      # AMQP
      - "5672:5672"
      # Web UI
      - "15672:15672"
      # STOMP (Spring will use this)
      - "61613:61613"
    environment:
      RABBITMQ_DEFAULT_USER: myuser
      RABBITMQ_DEFAULT_PASS: mypass
    command: >
      bash -lc "rabbitmq-plugins enable --offline rabbitmq_stomp &&
                rabbitmq-server"
